In [1]:
url = 'https://raw.githubusercontent.com/kalyaniuniversity/mgx-datasets/master/DLBCL/datasets/dlbcl-fl.csv'

# 1.**Reading CSV and Data**

In [2]:
import pandas as pd
def readCSV(url):
    df = pd.read_csv(url)
    return df

# 2.Printing Dataset as output

In [3]:
readCSV(url)

,A28102,AB000114_at,AB000115_at,AB000220_at,AB000409_at,AB000449_at,AB000450_at,AB000460_at,AB000462_at,AB000464_at,...,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at,class
0,-1,-45,176,97,-57,233,265,945,56,819,...,1036,-161,1523,-72,897,366,3,76,-28,DLBCL
1,25,-17,531,353,122,155,209,1688,42,639,...,4254,-75,6056,-68,737,81,-4,41,-45,DLBCL
2,73,91,257,80,614,507,760,2252,196,863,...,1934,-129,2901,-9,946,450,38,164,-62,DLBCL
3,267,41,202,138,198,355,245,1469,170,384,...,2469,93,2465,-119,339,321,-63,73,-13,DLBCL
4,16,24,187,39,145,254,571,930,-11,439,...,608,-39,1667,-87,721,213,15,155,-26,DLBCL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,205,116,361,295,424,286,239,1376,249,540,...,1014,-531,1039,-325,412,-29,-264,-292,-384,FL
73,323,123,498,303,-91,135,231,1938,273,1795,...,1629,-378,311,-251,1571,861,-53,17,-396,FL
74,83,-63,164,120,176,344,396,1348,210,684,...,573,-26,1170,-262,322,-109,-221,-213,-318,FL
75,27,-194,346,107,11,125,60,982,143,550,...,501,-329,335,-214,875,157,-97,-120,-291,FL
76,3,123,243,111,-327,94,222,1487,226,1216,...,1399,-147,563,-137,1629,714,-1,370,-53,FL

# **3.Count number of columns**

In [4]:
def row_count(url):
    return readCSV(url).shape[0] + 1

row_count(url)

78

# 4.Count number of rows

In [5]:
def column_count(url):
    return readCSV(url).shape[1]

column_count(url)

7071

# 5.Printing the first row

In [6]:
def print_first_row_of_csv(url):
    df = pd.read_csv(url, skipfooter = len(readCSV(url).index), header = None, engine = 'python')
    return df
    
print_first_row_of_csv(url)

,0,1,2,3,4,5,6,7,8,9,...,7061,7062,7063,7064,7065,7066,7067,7068,7069,7070
0,A28102,AB000114_at,AB000115_at,AB000220_at,AB000409_at,AB000449_at,AB000450_at,AB000460_at,AB000462_at,AB000464_at,...,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at,class

# 6.Printing dataset without first row

In [7]:
def print_without_1_row(url):
    return pd.read_csv(url, skiprows = 1, header = None)

print_without_1_row(url)

,0,1,2,3,4,5,6,7,8,9,...,7061,7062,7063,7064,7065,7066,7067,7068,7069,7070
0,-1,-45,176,97,-57,233,265,945,56,819,...,1036,-161,1523,-72,897,366,3,76,-28,DLBCL
1,25,-17,531,353,122,155,209,1688,42,639,...,4254,-75,6056,-68,737,81,-4,41,-45,DLBCL
2,73,91,257,80,614,507,760,2252,196,863,...,1934,-129,2901,-9,946,450,38,164,-62,DLBCL
3,267,41,202,138,198,355,245,1469,170,384,...,2469,93,2465,-119,339,321,-63,73,-13,DLBCL
4,16,24,187,39,145,254,571,930,-11,439,...,608,-39,1667,-87,721,213,15,155,-26,DLBCL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,205,116,361,295,424,286,239,1376,249,540,...,1014,-531,1039,-325,412,-29,-264,-292,-384,FL
73,323,123,498,303,-91,135,231,1938,273,1795,...,1629,-378,311,-251,1571,861,-53,17,-396,FL
74,83,-63,164,120,176,344,396,1348,210,684,...,573,-26,1170,-262,322,-109,-221,-213,-318,FL
75,27,-194,346,107,11,125,60,982,143,550,...,501,-329,335,-214,875,157,-97,-120,-291,FL
76,3,123,243,111,-327,94,222,1487,226,1216,...,1399,-147,563,-137,1629,714,-1,370,-53,FL

# 7.Printing dataset without column

In [8]:
def print_without_last_col(url):
    df = readCSV(url)
    df = df.drop(['class'],axis = 1)
    return df

print_without_last_col(url)

,A28102,AB000114_at,AB000115_at,AB000220_at,AB000409_at,AB000449_at,AB000450_at,AB000460_at,AB000462_at,AB000464_at,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
0,-1,-45,176,97,-57,233,265,945,56,819,...,132,1036,-161,1523,-72,897,366,3,76,-28
1,25,-17,531,353,122,155,209,1688,42,639,...,147,4254,-75,6056,-68,737,81,-4,41,-45
2,73,91,257,80,614,507,760,2252,196,863,...,169,1934,-129,2901,-9,946,450,38,164,-62
3,267,41,202,138,198,355,245,1469,170,384,...,13,2469,93,2465,-119,339,321,-63,73,-13
4,16,24,187,39,145,254,571,930,-11,439,...,69,608,-39,1667,-87,721,213,15,155,-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,205,116,361,295,424,286,239,1376,249,540,...,418,1014,-531,1039,-325,412,-29,-264,-292,-384
73,323,123,498,303,-91,135,231,1938,273,1795,...,408,1629,-378,311,-251,1571,861,-53,17,-396
74,83,-63,164,120,176,344,396,1348,210,684,...,288,573,-26,1170,-262,322,-109,-221,-213,-318
75,27,-194,346,107,11,125,60,982,143,550,...,239,501,-329,335,-214,875,157,-97,-120,-291
76,3,123,243,111,-327,94,222,1487,226,1216,...,289,1399,-147,563,-137,1629,714,-1,370,-53

## 8.Printing dataset without last column

In [9]:
def print_last_column(url):
    df = pd.read_csv(url)
    return df.drop(df.columns[:-1], axis = 1)

print_last_column(url)

    class
0   DLBCL
1   DLBCL
2   DLBCL
3   DLBCL
4   DLBCL
..    ...
72     FL
73     FL
74     FL
75     FL
76     FL

[77 rows x 1 columns]

# 9.Printing the data without column Labels and target class

In [10]:
def only_data(url):
    df = pd.read_csv(url, skiprows = 1, header = None)
    df = df.drop(df.columns[-1], axis = 1)
    return df

only_data(url)

,0,1,2,3,4,5,6,7,8,9,...,7060,7061,7062,7063,7064,7065,7066,7067,7068,7069
0,-1,-45,176,97,-57,233,265,945,56,819,...,132,1036,-161,1523,-72,897,366,3,76,-28
1,25,-17,531,353,122,155,209,1688,42,639,...,147,4254,-75,6056,-68,737,81,-4,41,-45
2,73,91,257,80,614,507,760,2252,196,863,...,169,1934,-129,2901,-9,946,450,38,164,-62
3,267,41,202,138,198,355,245,1469,170,384,...,13,2469,93,2465,-119,339,321,-63,73,-13
4,16,24,187,39,145,254,571,930,-11,439,...,69,608,-39,1667,-87,721,213,15,155,-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,205,116,361,295,424,286,239,1376,249,540,...,418,1014,-531,1039,-325,412,-29,-264,-292,-384
73,323,123,498,303,-91,135,231,1938,273,1795,...,408,1629,-378,311,-251,1571,861,-53,17,-396
74,83,-63,164,120,176,344,396,1348,210,684,...,288,573,-26,1170,-262,322,-109,-221,-213,-318
75,27,-194,346,107,11,125,60,982,143,550,...,239,501,-329,335,-214,875,157,-97,-120,-291
76,3,123,243,111,-327,94,222,1487,226,1216,...,289,1399,-147,563,-137,1629,714,-1,370,-53

# 10.Printing Unique class labels

In [11]:
def unique_class_labels(url):
    df = pd.read_csv(url)
    df = df.drop(df.columns[:-1], axis = 1)
    return df.drop_duplicates()
    
unique_class_labels(url)

    class
0   DLBCL
58     FL